@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  /* Renkleri sabitledik, artık dark mode yok */
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-hm-dark: #222831;
  --color-hm-orange: #F05454;
  --color-hm-gray: #393E46;
  --color-hm-light: #F5F5F5;
}

/* @media (prefers-color-scheme: dark) bloğunu SİLDİM */

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  /* Arka plan rengi kesinlikle beyaz */
  background-color: #ffffff;
  
  /* Sol üst köşeden vuran o güzel turuncu ışık */
  background-image: 
    radial-gradient(circle at 0% 0%, rgba(240, 84, 84, 0.15) 0%, transparent 45%),
    radial-gradient(circle at 100% 100%, rgba(240, 84, 84, 0.03) 0%, transparent 30%);
    
  background-attachment: fixed; /* Işık kaybolmasın diye sabitlendi */
  background-size: cover;
  min-height: 100vh;
}